
<mat-card>
    <div class="contenido-editar">
        <mat-card-title class="titulo"> {{tipo}} {{ "GENERAR_MAPEO" | translate }}</mat-card-title> 
        <button class="boton-salir" (click)="onCloseClick()">x</button>
    </div>
    <mat-divider class="divider"></mat-divider>
    <mat-card-content>
        <form [formGroup]= "MapeoForm">
            <div class="grid">
                <div class="left-column">
                    <p class="nombre-input">{{ "FORMULARIO.NOMBRE_DEPENDENCIA" | translate }}</p>
                    <input type="text" [value]="element.nombre" readonly class="input-centrado">
                    <p class="nombre-input">{{ "FORMULARIO.ARGO" | translate }}<button class="boton-ayuda">?   
                        <span class="tooltip tooltip-right">
                        <p>{{ "TOOLTIP.ARGO.PARTE_1" | translate }}</p>
                    </span></button></p>
                    <input type="text" formControlName="idArgo">
                    <button class="boton-accion" (click)="gestorAccionTipo()">{{tipo}} {{ "GENERAR_MAPEO" | translate }}</button>
                </div>
                <div class="right-column">
                    <p class="nombre-input">{{ "FORMULARIO.NUMERO_IDENTIFICACION" | translate }}<button class="boton-ayuda">?
                        <span class="tooltip tooltip-left">
                        <p>{{ "TOOLTIP.NUMERO_IDENTIFICACION.PARTE_1" | translate }}</p>
                    </span></button></p>
                    <input type="text" formControlName="numIdInterno">
                    <p class="nombre-input">{{ "FORMULARIO.SNIES" | translate }}<button class="boton-ayuda">?
                        <span class="tooltip tooltip-left">
                        <p>{{ "TOOLTIP.SNIES.PARTE_1" | translate }}</p>
                    </span></button></p>
                    <input type="text" formControlName="codSnies">
                    <p class="nombre-input">{{ "FORMULARIO.IRIS" | translate }}<button class="boton-ayuda">?
                        <span class="tooltip tooltip-left">
                        <p>{{ "TOOLTIP.IRIS.PARTE_1" | translate }}</p>
                    </span></button></p>
                    <input type="text" formControlName="codIris">
                </div>
            </div>

        </form>
    </mat-card-content>
</mat-card>
