/* You can add global styles to this file, and also import other style files */
.nombre-input{
    display: inline-flex;
    align-items: baseline;
    box-sizing: border-box;
    width: 100%;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-size: 13px;
}

.check{
    color: green;
}

.boton-accion{
    background-color: green;
    color: white;
    font-family: Helvetica, sans-serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-left: 10%;
    margin-right: 10%;
    width: auto;
    padding: 5px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    padding: 0 16px;
    position: relative;
}

.left-column {
    flex: 1;
    padding-right: 10px; 
}

.right-column {
    flex: 1;
    padding-left: 10px; 
    display: flex;
    flex-direction: column;
}

.tooltip {
    font-family: Helvetica, sans-serif;
    width: max-content;
    background-color: #FFF2CC;
    border: 1px solid #D6B656;
    color: #858585;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    padding: 10px;
    position: absolute;
    z-index: 1000;
    font-size: 14px;
    line-height: 1.5;
    white-space: pre-wrap;
    text-align: left;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.tooltip-right {
    width: 300px;
    top: 50%;
    left: calc(100% + 5px);
    transform: translateY(-50%);
}

.tooltip-bottom {
    top: calc(100% + 5px);
    left: 50%;
    transform: translateX(-50%);
}

.tooltip-left {
    width: 300px;
    top: 50%;
    right: calc(100% + 5px);
    margin-left: 5px;
    transform: translateY(-50%);
}

.boton-ayuda {
    position: relative;
    font-family: Helvetica, sans-serif;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: #858585;
    border: 2px solid #858585;
    line-height: 5px;
    margin-left: 5px;
}


.boton-ayuda:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

mat-card{
    box-shadow: 2px 4px 12px 0 rgba(0, 0, 0, 0.2);
}

input, select{
    width: 100%;
    border-radius: 5px;
    border: 1px solid;
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    padding: 3px;
    box-sizing: border-box;
    margin-bottom: 16px;
    margin-top: 2px;
}

